<div class="input-image">
  <%= f.fields_for :fb_pics do |p| %>
    <div>
      <%= p.file_field :img, class: "input-file-field form-control", data: {index_no: p.index} %>
      <%= p.hidden_field :img_cache %>
      <%= p.label :img, class: "img_label" do %>
        <%= image_tag p.object.img.present? ? p.object.img.url : asset_path("link.svg"), class: "preview", id: "preview#{p.index}" %>
      <% end %>
      <%= p.text_field :user_name, placeholder: "User name" %>
      <% if params[:action] == "edit" && p.object.img.present? %>
        <a download href="<%= p.object.img.url %>" class="btn btn-default">다운로드</a>
      <% end %>
      <%= p.link_to_remove '취소', class: 'btn pics_delete_btn remove_pics' %>
    </div>
  <% end %>
  <%= f.link_to_add "", :fb_pics, id: 'pics', class: 'pics_add_btn' %>
</div>
