<%= render partial: 'regrams/nav', locals: { } %>
<%= render partial: 'regrams/nav_sub', locals: { } %>

<div class="container fixed-sub">
  <div class="buffer"></div>
  <div class="row">
    <%= nested_form_for @facebook, html: { class: "form-group form-regram form-facebook form-tag" } do |f| %>
      <%= render partial: 'form', locals: { f: f } %>
      <div class="btn-wrapper">
        <%= f.submit "수정", class: "btn btn-primary" %>
        <%= link_to "삭제", facebook_path(@facebook), class: "btn btn-danger" %>
        <%= link_to "메뉴", facebooks_path, class: "btn btn-warning"  %>
      </div>
    <% end %>
  </div>
</div>
