<%= f.label :date, "일정" %>
<%= f.date_field :date, value: date.nil? ? "" : date, class: "form-control" %>
<%= f.label :timepool_id, "시간" %>
<%= f.select :timepool_id, options_from_collection_for_select(Timepool.all, :id, :time, regram.timepool_id.nil? ? (time.nil? ? "" : time) : regram.timepool_id), {}, {class: 'form-control select-time'} %>
<%= f.label :member_id, "ID" %>
<%= f.text_field :member_id, value: member.nil? ? "" : member.email, class: "form-control" %>
<%= f.label :product_id, "관심제품" %>
<%= f.select :product_id, options_from_collection_for_select(Product.all, :id, :name), {}, class: "form-control" %>
<%= f.label :content, "내용", class: "label-top" %>
<%= f.text_area :content, class: "form-control" %>
<div class="content-btn">
  <%= text_field_tag :user_tag, member.nil? ? "" : member.email, class: "form-control" %>
  <span id="user-tag" class="btn btn-success btn-tag">사용자 태그 삽입</span>
  <%= select_tag :product_tag, options_from_collection_for_select(Tag.where(category: 1).all, :id, :title, Tag.where(category: 1).last), class: "form-control" %>
  <span id="product-tag" class="btn btn-success btn-tag">제품 태그 삽입</span>
  <%= select_tag :instagram_tag, options_from_collection_for_select(Tag.where(category: 2).all, :id, :title, Tag.where(category: 2).last), class: "form-control" %>
  <span id="instagram-tag" class="btn btn-success btn-tag">인스타그램 태그 삽입</span>
  <span id="all-tag" class="btn btn-primary btn-tag">모든 태그 삽입</span>
</div>
<%= f.label :img, "이미지", class: "label-top" %>
<div class="input-image">
  <%= f.fields_for :pics do |p| %>
    <div>
      <%= p.file_field :img, class: "input-file-field form-control", data: {index_no: p.index} %>
      <%= p.hidden_field :img_cache %>
      <%= p.hidden_field :user_name, value: member.nil? ? "" : member.email, id: "user_name" %>
      <%= p.label :img, class: "img_label" do %>
        <%= image_tag p.object.img.present? ? p.object.img.url : asset_path("link.svg"), class: "preview", id: "preview#{p.index}" %>
      <% end %>
      <% if params[:action] == "edit" && p.object.img.present? %>
        <a download href="<%= p.object.img.url %>" class="btn btn-default">다운로드</a>
      <% end %>
      <%= p.link_to_remove '취소', class: 'btn pics_delete_btn remove_pics' %>
    </div>
  <% end %>
  <%= f.link_to_add "", :pics, id: 'pics', class: 'pics_add_btn' %>
</div>
<%= f.label :url, "URL" %>
<%= f.text_field :url, class: "form-control" %>
