<%= f.label :date, "일정" %>
<%= f.date_field :date, value: date.nil? ? "" : date, class: "form-control" %>
<%= f.label :timepool_id, "시간" %>
<%= f.select :timepool_id, options_from_collection_for_select(Timepool.all, :id, :time, regram.timepool_id.nil? ? (time.nil? ? "" : time) : regram.timepool_id), {}, {class: 'form-control select-time'} %>
<%= f.label :member_id, "ID" %>
<%= f.text_field :member_id, value: member.nil? ? "" : member.email, class: "form-control" %>
<%= f.label :content, "내용", class: "label-top" %>
<%= f.text_area :content, class: "form-control" %>
<div class="content-btn">
  <%= text_field_tag :user_tag, member.nil? ? "" : member.email, class: "form-control" %>
  <span id="user-tag" class="btn btn-success btn-tag">사용자 태그 삽입</span>
  <%= select_tag :product_tag, options_from_collection_for_select(Tag.where(category: 1).all, :id, :title, Tag.where(category: 1).last), class: "form-control" %>
  <span id="product-tag" class="btn btn-success btn-tag">제품 태그 삽입</span>
  <%= select_tag :instagram_tag, options_from_collection_for_select(Tag.where(category: 2).all, :id, :title, Tag.where(category: 2).last), class: "form-control" %>
  <span id="instagram-tag" class="btn btn-success btn-tag">인스타그램 태그 삽입</span>
  <span id="all-tag" class="btn btn-primary btn-tag">모든 태그 삽입</span>
</div>
<%= f.label :img, "이미지", class: "label-top" %>
<div class="input-image">
  <%= image_tag regram.nil? ? asset_path("link.svg") : ( (regram.img.url.nil? ) ? asset_path("link.svg") : regram.img.url ), class: "preview" %>
  <%= f.file_field :img, class: "from-control" %>
</div>
<%= f.label :url, "URL" %>
<%= f.text_field :url, class: "form-control" %>
