<%= render partial: 'nav', locals: { } %>
<%= render partial: 'nav_sub', locals: { } %>

<div class="container fixed-sub">
  <div class="buffer"></div>
  <div class="row">
    <div class="col-xs-12">
      <%= month_calendar do |date| %>
        <p class="day-title text-center"><%= date.day %></p>
        <% @timepool.all.each do |t| %>
          <p>
            <span><%= t.time %></span>
            <% if Regram.where(date: date, timepool_id: t.id).take.nil? %>
              <% if date >= Date.today %>
                <%= link_to "+", new_regram_path(date: date, time: t.time), class: "content text-center" %>
              <% end %>
            <% else %>
              <%= link_to Regram.where(date:date, timepool_id: t.id).take.member.email, edit_regram_path(Regram.where(date:date, timepool_id: t.id).take.id), class: "content text-center" %>
            <% end %>
          </p>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
