<%= link_to root_path do %>
  <h2 class="main-title">motemote</h2>
<% end %>

<div class="nav">
  <% if params[:controller] == "rockets" && params[:action] == "index" %>
    <%= link_to "로켓단 리스트", rockets_path, class: "main-link active" %>
  <% else %>
    <%= link_to "로켓단 리스트", rockets_path, class: "main-link" %>
  <% end %>
  <% if params[:controller] == "rockets" && (params[:action] == "new" || params[:action] == "edit") %>
    <%= link_to "로켓단 일정 생성", new_rocket_path, class: "main-link active" %>
  <% else %>
    <%= link_to "로켓단 일정 생성", new_rocket_path, class: "main-link" %>
  <% end %>
  <%= link_to "로켓단 등록", new_rocket_member_path, class: "main-link #{ params[:controller] == "rocket_members" && (params[:action] == "new" || params[:action] == "edit") && "active" }" %>
  <% if (params[:controller] == "rockets" && (params[:action] == "show" || params[:action] == "calendar")) || params[:controller] == "attend" && (params[:action] == "index" || params[:action] == "show") %>
    <%= link_to "출석 관리", "", class: "main-link active" %>
  <% end %>
</div>
