<% if params[:controller] != "rocket_apply" %>
  <div class="sub-nav">
    <%= link_to "일자별 관리", calendar_rocket_path(id), class: "main-link #{ params[:action] == "calendar" && "active" }" %>
    <%= link_to "ID별 관리", rocket_path(id), class: "main-link #{ params[:controller] == "rockets" && params[:action] == "show" && "active" }" %>
    <%= link_to "인스타 확인", attend_rocket_path(id: id), class: "main-link #{ params[:controller] == "rockets" && (params[:action] == "attend" || params[:action] == "attend_show") && "active" }" %>
    <%= link_to "미션 관리", rocket_missions_path(id), class: "main-link #{ params[:controller] == "missions" && params[:action] == "index" && "active" }" %>
    <%= link_to "미션 확인", new_rocket_mission_check_path(id), class: "main-link #{ params[:controller] == "missions" && params[:action] == "new" && "active" }" %>
    <%= link_to "불출석 확인", absent_rocket_path(id: id), class: "main-link #{ params[:controller] == "rockets" && params[:action] == "absent" && "active" }" %>
    <%= link_to "리그램 달력", rocket_rocket_regrams_path(rocket_id: id), class: "main-link #{ params[:controller] == "rocket_regrams" && (params[:action] == "index" || params[:action] == "new" || params[:action] == "edit") && "active" }" %>
    <%= link_to "리그램 리스트", list_rocket_rocket_regrams_path(rocket_id: id), class: "main-link #{ params[:controller] == "rocket_regrams" && params[:action] == "list" && "active" }" %>
    <%= select_tag :rocket_id, options_from_collection_for_select(Rocket.all, :id, :unit), class: "form-control sub-nav-rocket" %>
    <span class="btn btn-primary rocket-link">이동</span>
  </div>
<% else %>
  <div class="sub-nav">
    <%= link_to "엑셀 리스트", excel_rocket_apply_path(params[:id]), class: "main-link #{ params[:action] == "excel" && "active" }" %>
    <%= link_to "전체 리스트", rocket_apply_path(params[:id]), class: "main-link #{ params[:action] == "show" && "active" }" %>
    <%= link_to "보류 리스트", rocket_apply_path(params[:id], type: "hold"), class: "main-link #{ params[:action] == "show" && params[:type] == "hold" && "active" }" %>
    <%= link_to "최종 선정 리스트", rocket_apply_path(params[:id], type: "pass"), class: "main-link #{ params[:action] == "show" && params[:type] == "hold" && "active" }" %>
  </div>
<% end %>
