<%= render partial: 'nav', locals: { } %>

<div class="row fixed-sub">
  <div class="col-xs-12">
    <%= form_for @rocket, html: { class: "form-group form-member" } do |f| %>
      <p class="rocket-title">로켓단 정보 수정</p>
      <%= render partial: 'form', locals: { f: f } %>
      <div class="btn-wrapper">
        <%= f.submit "수정", class: "btn btn-primary" %>
        <%= link_to "취소", rockets_path, class: "btn btn-warning" %>
      </div>
    <% end %>
  </div>
  <div class="col-xs-12">
    <div class="rocket-wrapper">
      <p class="rocket-title">로켓단 지원자 등록</p>
      <% if @rocket.rocket_members.count == 0 %>
        <%= form_tag upload_csv_rocket_path(@rocket.id), method: 'post', multipart: true, class: 'rocket-apply-form' do %>
          <%= file_field_tag :file %>
          <%= submit_tag "파일등록", class: "btn btn-primary" %>
        <% end %>
      <% end %>
      <%= link_to "신청초기화", reset_apply_rocket_path, method: 'post', class: 'btn btn-danger' %>
    </div>
  </div>
  <div class="col-xs-12">
    <div class="rocket-wrapper">
      <p class="rocket-title">로켓단 미션 등록</p>
      <table class="table table-hover table-mission">
        <thead>
          <th class="center">No</th>
          <th class="center">미션</th>
          <th class="center">날짜</th>
          <th class="center">삭제</th>
        </thead>
        <tbody>
          <% @missions.each_with_index do |m, index| %>
            <tr class="center" onclick="location.href='../../missions/<%= m.id %>/edit'">
              <td><%= index + 1 %></td>
              <td><%= m.content %></td>
              <td><%= m.date %></td>
              <td><%= link_to "삭제", mission_path(m.id), method: 'DELETE', class: "btn btn-default", style: "padding: 0 10px", data: {confirm: "삭제하시겠습니까?"} %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class="btn-wrapper">
        <% if @count < @rocket.mission %>
          <%= link_to "미션생성", new_rocket_mission_path(@rocket), class: "new-mission-btn btn btn-primary" %>
        <% else %>
          <p>미션을 최대로 생성하였습니다. ( 생성된 미션 수가 로켓단 미션 수와 같습니다. )</p>
        <% end %>
      </div>
    </div>
  </div>
</div>
