<%= render partial: 'nav', locals: { } %>
<%= render partial: 'nav_sub', locals: { id: @rocket.id } %>

<div class="row">
  <div class="col-md-12">
    <table class="table rocket-table">
      <thead>
        <th class="center">Group</th>
        <th class="center">No</th>
        <th class="center">ID</th>
        <th class="center">접속</th>
        <th class="center">출석점수</th>
        <th class="center">10일</th>
        <th class="center">20일</th>
        <th class="center">30일</th>
        <% for i in 0..(@rocket.term - 1) do %>
          <th class="center"><%= (@rocket.start_date + i).strftime("%m/%d") %><br /><%= i + 1 %>일차</th>
        <% end %>
      </thead>
      <tbody>
        <% @rocket.rocket_members.pass.pluck(:group).uniq.sort.each do |g| %>
          <% @rocket.rocket_members.pass.where(group: g).sort.first(1).each_with_index do |r, index| %>
            <%= render partial: 'tr', locals: { r: r, index: index, g: g, rocket: @rocket, first: true, start_date: @start_date } %>
          <% end %>
          <% @rocket.rocket_members.pass.where(group: g).sort.drop(1).each_with_index do |r, index| %>
            <%= render partial: 'tr', locals: { r: r, index: index, g: g, rocket: @rocket, first: false, start_date: @start_date } %>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
