<div class="container">
  <div class="row" style="margin-bottom: 30px">
    <h1 class="attend-title">출석 관리</h1>
    <div>
      <%= link_to "일자별관리", "", class: "main-link" %>
      <%= link_to "ID별 관리", "", class: "main-link" %>
    </div>
  </div>

  <div class="row">
    <% @member.each_with_index do |m, index| %>
      <div class="attend-list">
        <div class="attend-list-left">
          <div class="attend-user-wrapper">
            <span class="attend-user-id"><%= m %></span>
            <%= link_to "접속", "https://www.instagram.com/#{m}/", class: "attend-user-link" %>
          </div>
          <div class="attend-check-wrapper">
            <%= form_tag(attend_check_path, method: 'POST', class: "flex attend-check-form") do %>
              <div class="attend-check-btn-wrapper">
                <%= date_select("attend", "date", order: [:year, :month, :day]) %>
                <div>
                  <span class="attend-btn">출석</span>
                  <span class="attend-btn">지각</span>
                  <span class="attend-btn last">불출석</span>
                </div>
              </div>
              <%= submit_tag "저장", class: "attend-check-submit" %>
            <% end %>
          </div>
        </div>
        <div class="attend-list-right">
          <% @img[index].each_with_index do |i, j| %>
            <%= link_to @url[index][j], target: :_blank do %>
              <%= image_tag i, class: "attend-image" %>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
