<%= render partial: 'rockets/nav', locals: { } %>
<%= render partial: 'nav_sub', locals: { mission: @mission } %>

<div class="row" style="margin-top: 30px">
  <div class="col-xs-12">
    <%= form_for @mission, html: { class: "form-group form-member" } do |f| %>
      <%= render partial: 'form', locals: { f: f } %>
      <div class="btn-wrapper">
        <%= f.submit "수정", class: "btn btn-primary" %>
        <%= link_to "취소", edit_rocket_path(@rocket), class: "btn btn-warning" %>
      </div>
    <% end %>
  </div>
</div>
