<div class="container">
  <div class="row">
    <div class="col-md-8 col-offset-md-2">
      <h1>입고 수량 입력</h1>
      <%= form_tag(count_update_path, method: "POST", class: "edit-count-form") do %>
        <table class="edit-count">
          <tbody>
            <tr>
              <td class="td-label">
                <%= label_tag(:count, "제품코드") %>
              </td>
              <td>
                <%= text_field_tag(:count, @count.product.code) %><br />
              </td>
            </tr>
            <tr>
              <td class="td-label">
                <%= label_tag(:count, "상품명") %>
              </td>
              <td>
                <%= text_field_tag(:count, @count.product.name) %><br />
              </td>
            </tr>
            <tr>
              <td class="td-label">
                <%= label_tag(:count, "재고량") %>
              </td>
              <td>
                <%= number_field_tag(:count, @count.count) %><br />
              </td>
            </tr>
            <tr>
              <td class="td-label">
                <%= label_tag(:count, "입고량") %>
              </td>
              <td>
                <%= number_field_tag(:buffer, @count.buffer) %>
              </td>
            </tr>
          </tbody>
        </table>
        <%= submit_tag("수정", class: "btn btn-primary button") %>
      <% end %>
    </div>
  </div>
</div>
