<%= render partial: 'nav', locals: { } %>

<div class="row fixed">
  <div class="col-md-12">
    <table class="table hover">
      <thead>
        <th class="center">품목</th>
        <th class="center">상품코드</th>
        <th class="center">상품명</th>
        <th class="center">지지지난 7일간 평균판매량</th>
        <th class="center">지지난 7일간 평균판매량</th>
        <th class="center">지난 7일간 평균판매량</th>
        <th class="center">재고</th>
        <th class="center">판매가능일 수</th>
        <th class="center">재고가치</th>
        <th class="center">매출의 비중</th>
      </thead>
      <tbody>
        <% @products.each_with_index do |p, index| %>
          <tr class="center">
            <td><%= index + 1 %></td>
            <td><%= p.code %></td>
            <td><%= p.name %></td>
            <td><%= @average[2][p.id] %></td>
            <td><%= @average[1][p.id] %></td>
            <td><%= @average[0][p.id] %></td>
            <td><%= p.counts.present? ? p.counts.last.count : 0 %></td>
            <% if p.empty %>
              <td class="yellow"><%= link_to @sell[p.id], empty_product_path(p.id) %></td>
            <% else %>
              <% if @sell[p.id].to_i <= 30 %>
                <td class="red"><%= link_to @sell[p.id], empty_product_path(p.id) %></td>
              <% else %>
                <td><%= @sell[p.id] %></td>
              <% end %>
            <% end %>
            <td><%= p.counts.present? ? number_with_delimiter(p.counts.last.count * p.price, delimiter: ",") : 0 %></td>
            <td><%= number_with_precision(@ratio[p.id], precision: 2) %>%</td>
          </tr>
        <% end %>
        <tr class="center">
          <td colspan="3" class="text-center">총합</td>
          <td><%= number_with_delimiter(@total[2], delimiter: ",") %></td>
          <td><%= number_with_delimiter(@total[1], delimiter: ",") %></td>
          <td><%= number_with_delimiter(@total[0], delimiter: ",") %></td>
          <td><%= number_with_delimiter(@count, delimiter: ",") %></td>
          <td></td>
          <td><%= number_with_delimiter(@price, delimiter: ",") %></td>
          <td>100%</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
