<h1>모트모트 재고/ 판매 추이</h1>
<%= link_to "홈", root_path %>
<%= link_to "메인", products_path %>
<%= link_to "재고등록", new_product_path %>

<div class="row">
  <div class="col-md-12 margin-top">
    <table class="table hover">
      <thead>
        <th>품목</th>
        <% for i in 0..@date do %>
          <th style="text-align:center"><%= Date.today - @date + i %></th>
        <% end %>
      </thead>
      <tbody>
        <% @products.each do |p| %>
          <tr>
            <td class="name"><%= p.name %></td>
            <% @count.where(product_id: p.id).all.each do |c| %>
              <td class=<%= c.buffer > 0 ? "red" : "" %> style="text-align:center">
                <%= link_to count_edit_path(c.id) do %>
                  <%= c.count %>
                <% end %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
