<%= render partial: 'nav', locals: { } %>

<div class="row">
  <div class="col-md-12">
    <table class="table hover">
      <thead>
        <th>품목</th>
        <% for i in 1..@date do %>
          <th style="text-align:center"><%= Date.today - i + 1 %></th>
        <% end %>
      </thead>
      <tbody>
        <% @products.each do |p| %>
          <tr>
            <td class="name"><%= p.name %></td>
            <% for i in 0..(@diff-1) do %>
              <td></td>
            <% end %>
            <% @count.where(product_id: p.id).where('date > ?', (Date.today-31)).order('id DESC').each do |c| %>
              <% if c.goods? %>
                <td class=<%= c.buffer != 0 ? "green" : "red" %> style="text-align:center">
              <% elsif c.buffer != 0 %>
                <td class="yellow" style="text-align:center">
              <% else %>
                <td style="text-align:center">
              <% end %>
                  <%= link_to edit_count_path(c.id) do %>
                    <%= c.count %>
                  <% end %>
                </td>
            <% end %>
            <% for i in 0..(p.date.to_date - Date.today + 30 - 1) do %>
              <td style="text-align:center"><a href="">0</a></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
